/**
 * style.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
// @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url("https://use.typekit.net/mck4rsq.css");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%; //rem becomes 10px : 1rem, instead of 16px : 1rem. Easier to calculate.
}
body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
// Modules
@import "modules/variables";

// Partials
@import "partials/header";
@import "partials/footer";
@import "partials/pagination";

// Templates
@import "templates/docs";

// Pages
@import "pages/page-contact-us.scss";
@import "pages/about-us.scss";
@import "pages/home.scss";
@import "pages/single-wc-post.scss";
@import "pages/blog.scss";
@import url("https://use.typekit.net/mck4rsq.css");
@import "pages/page-process.scss";
