/**
 * partials/footer
 * ---
 */
.footer {
  .grey{
    background-color: $font-black;
    height: 16rem;
  }
  .blue{
    background-color: $font-blue;
    height: 28rem;
    color: $font-white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo{
    height: 7rem;
      
  }
  .subscribe{
    color: $font-yellow;
    font-size: x-large;
  }

  .footertext{
      font-size: $font-size-base;
      text-align: center;
      a {
        color: $font-white;
      }
  }
  .social-media{
      color: $font-white;
  }

  .centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  #copyright{
    text-align: center;
  }
  .social-media:hover{
    color: $font-yellow;
  }
  .left-text {
    display: none;
  }
  .right-text {
    display: none;
  }
  @media (min-width: 540px) {
    .icon-alignment {
      max-width: 465px;
      padding: 25px 0;
    }
  }
  @media (min-width: 768px) {
    .blue {
      padding: 20px 0;
    }
  }
  @media (min-width: 992px) {
    #copyright {
      text-align: left;
      padding-left: 0;
    }
    .blue {
      flex-direction: row;
      height: 12rem;
      justify-content: space-between;
    }
    .left-copy {
      width: 100%;
      align-items: flex-start;
      text-align: left;
      padding-left: 8%;
    }
    .right-copy {
      width: 248px;
      align-items: flex-end;
      padding-right: 8%;
    }
    .footer-text {
      margin: auto;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
    .icon-alignment {
      padding: unset;
    }
  }
}