/**
 * partials/header
 * ---
 */
// NAVBAR

.navbar{
  margin: 0;
  border-radius: 0px;
  background-color: black;
  font-size: $font-size-base;
  z-index: 6;
}

.standard{
  margin: 0;
  border-radius: 0px;
  background-color: $font-blue;
  font-size: $font-size-base;
  z-index: 15;
  color: $font-black;
}

.transition{
  margin: 0;
  border-radius: 0px;
  font-size: $font-size-base;
  z-index: 15;
  transition: 750ms ease;
}

.transition.scrolled{
  background-color: $font-blue !important;
}

.transition{
  .nav-link{
    color: $font-yellow !important;
  }
 }

 .transition.scrolled{
  .nav-link{
    color: $font-black !important;
  }
 }

.standard{
  .nav-link{
    color: $font-black !important;
  }
}


.navbar-light .navbar-nav .nav-link:hover{
  color: $font-white !important;
  background-color: transparent;
}

nav{
  a{
  margin-left: 3rem;
 }
}

.logo{
  width: 18rem;
  height: 100%;
  margin-left: 30px;
}
.mobile-logo{
  display: none !important;
}
#bs-example-navbar-collapse-1{
  max-width: 47%;
}
#flex-mlogo{
  display:flex;
  justify-content: flex-end;
}
@media (max-width:768px){
  .mobile-logo{
    display: block !important;
    height: 5rem;
  }
  .logo{
    display:none !important;
  }
}
@media (min-width:768){
  .mobile-logo{
    display: none;
  }
  .logo{
    display:block;
  }
}


.fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
#nav-icon{
  display: flex;
  justify-content: flex-start;
}

.navbar-toggler{
  border: none;
}
.navbar-collapse{
  box-shadow: none !important;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: $font-white;
}
.icon{
  position: relative;
  right: 3vh;
}
.icon2{
  position: relative;
  left: 1vh;
}

@media (max-width: 970px){
  #bs-example-navbar-collapse-1 {
    max-width: 65%;
  }
}

.container-fluid>.navbar-collapse{
  margin-right: -20px;
}