li {
    border: 1px solid black;
    width: 50px !important;
    height: 50px  !important;
    overflow: hidden;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    list-style: none;
    float: left;
    margin: 20px;
    color: $font-black;                                            ;
    &:nth-of-type(3n+1) {
      transform: rotate(45deg);
    }
    &:nth-of-type(3n+2) {
      transform: rotate(15deg);
    }
    &:nth-of-type(3n+3) {
      transform: rotate(-25deg);
    }
  }