.blog-wrapper{
    background-color: tomato;
    .layer {
        width: 100%;
        height: 50vh;
        background-color: #dfdfdf66;
        border: 2px solid blue;
        position: absolute;
    }
    .blog-img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50vh;
    }
    .layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
    }
    .blog-title {
        font-family: funkydori, sans-serif;
        font-size: 7.6rem;
        line-height: .7;
        z-index: 5;
    }
    button {
        background-color: #EBBC4E;
        color: #2C2C2C;
        height: 6rem;
        width: 17rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-radius: 3.3rem;
        padding: 0 2.5rem;
        z-index: 5;
    }
}