.blogpost{
    color: $font-black; 
}
.blogimg{
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    
}
.title{
    padding-top: 30vh;
    font-size: 50px;
    width: 50px;
}
.btn{
    background-color: $font-blue ;
    color: $font-black;
    border-color: transparent;
    height: 65px;
}
.btn-primary:hover{
    background-color: $font-white;
    color: $font-black;
}
