//Empty scss in anticpation for page-home.php
.homepage {
  // VIDEO
  .banner {
      #big-video {
        display: unset;
      }
      .boxed {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        z-index: 5;
        height: calc(90vh - 62px);
      }
      .intro {
        width: 90vw;
        // height: 26rem;
        // bottom: 2rem;
        color: $font-white;
        text-align: center;
      }
      .intro-headers {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        margin-top: 2rem;
        width: 27rem;
        font-size: 2.5;
      }
      .home-logo {
        width: 150px;
        margin-bottom: 35px;
      }
      .icon-box {
        width: 280px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .icon-size {
        height: 3rem;
      }
      .video-still {
        display: none;
      }
      .placeholder {
        height: calc(90vh - 62px);
        min-height: -webkit-fill-available;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // margin-top: 70px;
      }
      .placeholder:before {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(0,0,0,.6);
        height: inherit;
      }
    
      /* ---------------------------------------------- */
      /* Media Queries                                  */
      /* ---------------------------------------------- */
      @media only screen and (min-width: 576px) {
        .intro {
          width: unset;
        }
        .intro-headers {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          position: relative;
          width: 47rem;
          font-size: 2.5rem;
        }
        .banner {
          top: 11rem;
        }
        .home-logo {
          width: 220px;
          margin-bottom: 8rem;
        }
        .intro-headers {
          h1 {
            font-size: 3.5rem;
            margin-bottom: 12rem;
          }
          h2 {
            font-size: 2.5rem;
          }
        }
        .icon-box {
          position: relative;
          bottom: 5rem;
        }
      }
      @media only screen and (min-width: 768px) {
    
          //.banner
          display: flex;
          justify-content: center;
          animation: center;
          background-color: #000;
        
        #big-video {
          overflow: hidden;
        }
        .boxed {
          display: flex;
          justify-content: center;
          align-self: center;
          height: unset;
        }
        .mov {
          display: flex;
          justify-content: center;
          position: relative;
          max-height: 100vh;
        }
        .mov:before {
          content: "";
          position: absolute;
          left: 0; right: 0;
          top: 0; bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          width: 100vw;
        }
        video {
          width: 100%;
          max-height: 730px;
        }
        .video-still {
          width: 100%;
          height: 100vh;
          overflow: hidden;
        }
        .intro {
          display: flex;
          bottom: 0rem;
        }
        .home-logo {
          width: 23rem;
          margin-bottom: 0;
        }
        .intro-headers {
          width: 54rem;
          h1 {
            font-size: 4rem;
            margin-bottom: 0;
          }
        }
        .icon-box {
          bottom: 0rem; 
        }
      }
    }


  //SERVICES

  .services-sec{
    h1{
      text-align: center;
      color: $font-black;
      font-size: xx-large;
      font-weight: bold;
      margin-top: .5rem;
      font-size: 4.5rem;
    }
    h2{
      text-align: center;
      font-size: 3rem;
      background-color: #2c2c2c;
      padding: 8px;
      min-height: 8.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img{
      height: 8rem;
      width: 8rem;
    }
    .card{
      border: none;
    }
    p{
      color: $font-black;
      margin-top: 1rem;
      font-size: medium;
      text-align: center;
    }
    @media only screen and (min-width: 1200px) {
      h2 {
        min-height: unset;
      }
    }
  }
  .categories{
    color: $font-yellow;
    text-align: left;
    font-size: larger;
  }
  .categories-content{
    margin-top: 1rem;
  }
  .meetingbtn{
    background-color: $font-yellow;
    color: $font-black;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 600;
    border-radius: 3.3rem;
    padding: 0 2.5rem;
  }
  .meetingbtn:hover{
    color: #5297a5;
  }
  .button-container{
    display: flex;
    justify-content: center;
  }


// BUTTON ANIMATION

  .learnbtn:hover, .meetingbtn:hover{
    transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }
  .btn:active{
      transform:translateY(-1px) ;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
.meetingbtn{
  animation: moveInRight 3s ease-out;
}

  @keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}



  @media (max-width:768px){
    .meetingbtn{
      background-color: $font-yellow;
      color: $font-black;
      height: 7rem;
      width: 18rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      margin-top: 3rem;
      font-weight: 600;
      padding: 0 2.5rem !important;
    }
  }
    
  //QUOTE
  .quote1{
      height:7rem;
      transform: rotate(161deg);
  }
  .quote2{
      height: 7rem;
  }
  .quotes-sec{
  padding: 5rem;
      p{
          font-size: x-large;
          color: $font-blue;
          text-align: center;
          font-weight: bold;
      }
  
  }
  .quotecontainer{
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width:768px){
    .quotecontainer{
      display: none !important;
    }
    .quotes-sec{
      display: none !important;
    }
    .mobile-quotes{
      display: block !important;
      font-size: 2rem;
      line-height: 2.7rem;
      color: $font-blue;
      margin-bottom: 6rem;
      font-weight: bold;
      text-align: center;
    }
  }
  .mobile-quotes{
    display: none;
  }

  //ROW 
  @media (min-width:768px){
    .row [class*=col-]{
      margin:0 -.3px;
    }
  }

  //CARDS

  .yellow{
      background-color: $font-yellow;
      margin-bottom: 0 !important;
  }
  .cards{
      background-color: $font-blue;
      margin-top: 3rem;
      padding-bottom: 3rem;
      text-align: center;
    p{
        color: $font-black;
        font-size: large;
      }
  }
  .cards-h1{
      color: $font-white;
      text-align: center;
      padding: 2rem;
      font-size: 4rem;
      font-weight: bold;
  }
  .cards-icon{
      height: 10rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

  }

  .cardheading{
    color: $font-white;
    font-size: 3rem;
    padding: 2rem 1rem;
    text-align: center;
  }
  .cards{
    a{
        background-color: $font-yellow;
        color: $font-black;
        margin-bottom: 2rem;
        padding: 1rem;
        font-size: 2rem;
        margin-top: 3rem;
        padding: 0 2.5rem !important;
        border-radius: 3.3rem;
        height: 5rem;
        width: 16rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a:hover{
      color: $font-blue;
    }
  }
  #card-p{
    width: 24.8rem;
    margin: 0rem auto 0;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  @media (min-width:768px){
    .cards {
      min-height: 555px;
    }
  }

}