/**
 * pages/contact-us
 * ---
 */

.contact-page{
  font-family: 'Open Sans', sans-serif;

  @media (min-width:768px){
    .contact-us{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .contact-us{
  display: flex;
  justify-content: flex-end;
  }
  .contact-title{
    color: $font-black;
    text-align: center;
    margin-top: 5rem;
    font-size: xx-large;
    padding: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  .icon-text-container {
    text-align: center;
    margin-bottom: 4rem;
  }
  .icon-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.5rem;
  }
  .icons {
    width: 6rem;
    height: 6rem;
  }
  .btn-lg {
    padding: 0.5rem 5rem;
    font-size: 2.25rem;
    line-height: 1.5;
    border-radius: 2.3rem;
  }
  input[type="text"],
  input[type="email"],
  .wpcf7 textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    font-size: 15px;
    box-sizing: border-box;
    border: 2px solid $font-blue;
    border-radius: 6px;
    background-color: $font-white;
    color: $font-black;
  }
  input[type="submit"],
  input[type="value"] {
    background-color: $font-blue;
    box-sizing: border-box;
    border: 2px solid $font-blue;
    border-radius: 6px;
    color: $font-white;
    padding: 16px 32px;
    margin: 4px 2px;
    font-size: 2rem;
  }
  .wpcf7 label {
    font-size: 2rem;
  }

  .center-form {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    p{
      display: flex;
      justify-content: center;
      border-radius: 2.5rem !important;
    }
  }
}
