.process{
  .fa-8x {
    font-size: 6em;
  }
  .title {
    font-size: 5rem;
    line-height: 5.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 0;
    padding: 15px 0 15px 15px;
    max-width: 50%;

    //Divide
    // font-size: 5rem;
    // line-height: 5.2rem;
    // font-weight: 600;
    // letter-spacing: 1px;
    // width: 100%;
    // z-index: 10;
    // position: absolute;
    // bottom: 0;
    // padding: 15px 0 15px 15px;
    // max-width: 50%;
    // font-family: funkydori, sans-serif;
  }
  .layer {
    width: 100%;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 5;
  }
   .banner {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .banner img {
    position: relative;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    height: 65vh;
  }
  
  .copy {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 50px;
  }
 

  .flow_chart_row {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    &:nth-of-type(odd) {
      flex-direction: row;
      background-color: $font-white;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
    .icon_circle {
      background-color: $font-blue;
      border-radius: 50%;
      width: 110px;
      height: 110px;
      padding: 35px 0px;
      margin: 30px auto;
      text-align: center;
      color: $font-white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hidden-md {
      display: flex;
    }
    .hidden_md_down {
      display: none;
    }
    .m_auto {
      margin: auto;
    }
    .text h2 {
      font-size: 3rem;
      font-weight: 600;
    }
  }
  @media only screen and (min-width: 838px) {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: unset;
      height: 65vh;
    }
  }
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 960px;
      min-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fa-8x {
      font-size: 8em;
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      max-width: 364px;
      font-size: 6.5rem;
      padding: 4rem 4rem 1rem;
    }
    .hidden_md {
      display: none !important;
    }
    .hidden_md_down {
      display: block !important;
    }
    .flow_chart_row {
      width: 25%;
      flex-direction: row !important;
      text-align: center;
      background-color: transparent !important;
      position: relative;
      align-items: flex-start;
      .icon_circle {
        background-color: #5DA3B2;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 35px 0px;
        margin: 30px auto;
        text-align: center;
        color: #FDF8E1;
      }
    }
    .m_auto {
      margin: inherit !important;
    }
    .flow_chart_row::before {
      content: '';
      width: 100%;
      height: 33%;
      border-bottom: 1px solid $font-blue;
      position: absolute;
      top: 0%;
    }
  }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 80%;
      height: 750px;
    }
    .flow_chart_row::before {
      height: 160px;
    }
    
  }
}
