/**
 * pages/single-wc-post
 * ---
 */
 .post-setup {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

.post-title {
    display: flex;
    justify-content: center;
    font-family: $font-family-base;
}

.image-holder {
    height: 30vh;
    width: 100vw; 
}
.featured-img-width {
    width: 100%;
    height: auto;
    //max-height: 53vh;
    object-fit: cover;
    object-position: center;
}
.thumbnail-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-title {
    position: absolute;
    font-size: 3rem;
}
.full-card {
    background-color: $font-white;
}
.card-img-top {
    margin-top: 2rem;   
}