// /**
//  * pages/single-wc-post
//  * ---
//  */
//  .blog {
//   .info-wrapper {
//     color: black;
//     z-index: 5;
//     font-size: 18px;
//     padding: 20px;
//     padding-top: 45px;
//     margin-bottom: 20px;
//     background-color: rgba(255, 255, 255, 0.8);
//     text-align: center;
//     min-width: 275px;
//   }
//   .post-setup {
//     // font-family: 'Open Sans', sans-serif;
//     font-size: $font-size-base;
//   }
//   .post-title {
//       display: flex;
//       justify-content: center;
//       margin: 10px 0px;
//       h1{
//         font-size: 4rem;
//       }
//       a {
//         color: $font-black;
//       }
//   }
//   .image-holder {
//       height: 30vh;
//       width: 100vw;
//   }
//   .featured-img-width {
//       width: 100%;
//       height: auto;
//       max-height: 40vh;
//       //max-height: 53vh;
//       object-fit: cover;
//       object-position: center;
//   }
//   .thumbnail-block {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//   }
//   .featured-title {
//       position: absolute;
//       font-size: 6rem;
//       // font-family: funkydori, sans-serif;
//       font-weight: 700;
//       background-color: $font-white;
//       opacity: 70%;
//       font-style: normal;
//       padding: 45px 25px 0px 25px;
//       line-height: 1;
//   }
//   .full-card {
//       background-color: $font-white;
//   }
//   .card-img-top {
//       margin-top: 2rem;
//   }
//   .post_details {
//     p {
//       display: inline-block;
//       font-size: 2rem;
//     }
//     a {
//       color: $font-blue;
//       text-decoration: underline;
//     }
//   }
//   .content {
//     margin: 20px 0px;
//     p {
//       font-size: 2rem;
//     }
//   }
//   .recent_blog_row {
//     background-color: $font-white;
//     border: 2px solid gainsboro;
//     h2 {
//       font-size: 3rem;
//       font-weight: 700;
//       margin: 30px 0px;
//     }
//     a {
//       color: $font-black;
//       font-size: 2rem;
//     }
//     div {
//       border: none;
//     }
//   }

//   @media only screen and (max-width: 768px){
//     .recent_blog_row {
//       div:nth-of-type(3),div:nth-of-type(4),div:nth-of-type(5) {
//         border-top: 2px solid gainsboro;
//       }
//       .img-container {
//         img {
//           max-width: 30vh;
//         }
//       }
//     }
//   }

//   @media only screen and (min-width: 992px) {
//     .info-wrapper {
//       text-align: left;
//     }
//   }
// }
/**
 * pages/single-wc-post
 * ---
 */
 .single-post-wrapper {
   padding: 20px;
   .post-thumbnail {
     width: 100%;
     height: 200px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
   .date {
    font-size: 1.6rem;
    font-weight: 600;
   }
   h1 {
    font-size: 30px;
    line-height: 40px;
    padding: 10px 0px;
   }
   .byline {
    font-size: 16px;
   }
   .the-content {
     font-size: 16px;
     padding: 20px;
     p {
       margin-bottom: 20px;
     }
   }
   .more-posts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   }
   .spacing {
    margin: 20px 0;
  }
   @media (min-width:768px){
    //.single-post-wrapper {
    padding: 60px 10%;
    h1 {
      font-size: 40px;
      line-height: 52px;
      padding: 10px 0px;
    }
    .post-thumbnail {
      height: 300px;
    }
    .more-posts {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 50px;
    }
   }
   @media (min-width:992px){
     article {
       max-width: 900px;
       margin: 0 auto;
     }
    .post-thumbnail {
      height: 350px;
      max-width: 900px;
    } 
    .the-content {
      padding: 0px;
      max-width: 900px;
    }
    h1 {
      max-width: 900px;
    }
   }
}