/**
 * pages/single-wc-post
 * ---
 */
 .blog {
  .post-setup {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size-base;
  }
  .post-title {
      display: flex;
      justify-content: center;
      font-family: funkydori, sans-serif;
      font-weight: 700;
      font-style: normal;
      margin: 10px 0px;
      h1{
        font-size: 6rem;
      }
      a {
        color: $font-black;
      }
  }
  .image-holder {
      height: 30vh;
      width: 100vw;
  }
  .featured-img-width {
      width: 100%;
      height: auto;
      //max-height: 53vh;
      object-fit: cover;
      object-position: center;
  }
  .thumbnail-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .featured-title {
      position: absolute;
      font-size: 3rem;
  }
  .full-card {
      background-color: $font-white;
  }
  .card-img-top {
      margin-top: 2rem;
  }
  .post_details {
    p {
      display: inline-block;
    }
    a {
      color: $font-blue;
      text-decoration: underline;
    }
  }
  .content {
    margin: 20px 0px;
    p {
      font-size: 2rem;
    }
  }
  .recent_blog_row {
    background-color: $font-white;
    border: 2px solid gainsboro;
    h2 {
      font-size: 3rem;
      font-weight: 700;
      margin: 30px 0px;
    }
    a {
      color: $font-black;
      font-size: 2rem;
    }
    div {
      border: none;
    }
  }
}
